<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>togleCS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>

<body>
  
  {% extends "layout/loading_layout.html" %}
  {% block content %}
  <div class="wrapper">
    <div class="logo-box">
      <a href="{{ url_for('index.index') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="로고" class="logo" />
      </a>
    </div>

    <h1 class="main-title">메인 페이지</h1>

    <div class="group">
      <form action="{{ url_for('togle.updateView') }}" method="GET" class="card">
        <button type="submit">
          <div class="emoji">📦</div>
          <div class="title">togle 업데이트</div>
          <div class="desc">Excel + 노트북LM PDF 업데이트</div>
        </button>
      </form>

      <form action="{{ url_for('togle.unansweredView') }}" method="GET" class="card">
        <button type="submit">
          <div class="emoji">💬</div>
          <div class="title">togle 미답변 자동응답</div>
          <div class="desc">문의 자동 크롤링 + 답변</div>
        </button>
      </form>

      <form action="{{ url_for('index.edit_prompt') }}" method="GET" class="card">
        <button type="submit">
          <div class="emoji">✏️</div>
          <div class="title">노트북LM 프롬프트 편집</div>
          <div class="desc">노트북LM 답변 프롬프트를<br>편집합니다</div>
        </button>
      </form>
    </div>

    <div class="group">
      <form action="{{ url_for('review.updateView') }}" method="GET" class="card">
        <button type="submit">
          <div class="emoji">📝</div>
          <div class="title">네이버 리뷰 매크로 가기<br>(미완성)</div>
          <div class="desc">리뷰 자동 처리</div>
        </button>
      </form>
    </div>

    <div class="group">
      <form action="{{ url_for('talktalk.index') }}" method="GET" class="card">
        <button type="submit">
          <div class="emoji">💼</div>
          <div class="title">카카오톡 & 네이버 톡톡<br>(미완성)</div>
          <div class="desc">톡톡/톡 매크로 메뉴</div>
        </button>
      </form>
    </div>
  </div>
  {% endblock %}

</body>

</html>